{% extends 'historyBase.html' %}

{% block content %}
<section class="section is-main-section">
    <div class="card has-table">
        <header class="card-header">
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <div class="b-table has-pagination">
                <div class="table-wrapper has-mobile-cards">
                    <table
                            class="
                    table
                    is-fullwidth is-striped is-hoverable is-fullwidth
                  "
                    >
                        <thead>
                        <tr>
                            <th class="is-checkbox-cell">
                            </th>
                            <th>Category</th>
                            <th>Progress</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false"/>
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td data-label="Category">Office desks</td>
                            <td data-label="Progress" class="is-progress-cell">
                                Completed
                            </td>
                            <td data-label="Created">
                                <small
                                        class="has-text-grey is-abbr-like"
                                        title="Dec 18, 2020"
                                >Dec 18, 2020</small
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false"/>
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td data-label="Category">Toilet</td>
                            <td data-label="Progress" class="is-progress-cell">
                                Completed
                            </td>
                            <td data-label="Created">
                                <small
                                        class="has-text-grey is-abbr-like"
                                        title="Sep 13, 2020"
                                >Sep 13, 2020</small
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false"/>
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td data-label="Category">Storage</td>
                            <td data-label="Progress" class="is-progress-cell">
                                Completed
                            </td>
                            <td data-label="Created">
                                <small
                                        class="has-text-grey is-abbr-like"
                                        title="Feb 12, 2020"
                                >Feb 12, 2020</small
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false"/>
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td data-label="Category">Floor</td>
                            <td data-label="Progress" class="is-progress-cell">

                                Completed
                            </td>
                            <td data-label="Created">
                                <small
                                        class="has-text-grey is-abbr-like"
                                        title="Jun 28, 2020"
                                >Jun 28, 2020</small
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="is-checkbox-cell">
                                <label class="b-checkbox checkbox">
                                    <input type="checkbox" value="false"/>
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td data-label="Category">Ceilling</td>
                            <td data-label="Progress" class="is-progress-cell">
                                Completed
                            </td>
                            <td data-label="Created">
                                <small
                                        class="has-text-grey is-abbr-like"
                                        title="Mar 7, 2020"
                                >Mar 7, 2020</small
                                >
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
