<!doctype html>
{% load static %}
<html lang="en"
      class="
    has-aside-left
    has-aside-mobile-transition
    has-navbar-fixed-top
    has-aside-expanded
  ">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>History</title>

    <!-- Bulma is included -->
    <link rel="stylesheet" href="{% static 'main.min.css' %}"/>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito"
            rel="stylesheet"
            type="text/css"
    />
</head>

<body>
<div id="app">
    <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
            <span class="icon"
            ><i class="mdi mdi-forwardburger mdi-24px"></i
            ></span>
            </a>
            <div class="navbar-item has-control">
                <div class="control">
                    <input placeholder="Search everywhere..." class="input"/>
                </div>
            </div>
        </div>
        <div class="navbar-brand is-right">
            <a
                    class="navbar-item is-hidden-desktop jb-navbar-menu-toggle"
                    data-target="navbar-menu"
            >
                <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
            </a>
        </div>
        <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
            <div class="navbar-end">
                <div
                        class="
                navbar-item
                has-dropdown has-dropdown-with-icons has-divider
                is-hoverable
              "
                >
                    <div class="navbar-dropdown">
                        <a href="profile.html" class="navbar-item">
                            <span class="icon"><i class="mdi mdi-account"></i></span>
                            <span>My Profile</span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon"><i class="mdi mdi-email"></i></span>
                            <span>Messages</span>
                        </a>
                        <hr class="navbar-divider"/>
                        <a href="{% url 'home' %}" class="navbar-item">
                            <span class="icon"><i class="mdi mdi-logout"></i></span>
                            <span>Log Out</span>
                        </a>
                    </div>
                </div>
                <div
                        class="
                navbar-item
                has-dropdown has-dropdown-with-icons has-divider has-user-avatar
                is-hoverable
              "
                >
                    <a class="navbar-link is-arrowless">
                        <div class="is-user-avatar">
                            <img
                                    src="https://avatars.dicebear.com/v2/initials/john-doe.svg"
                                    alt="John Doe"
                            />
                        </div>
                        <div class="is-user-name"><span>John Doe</span></div>
                        <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="profile.html" class="navbar-item">
                            <span class="icon"><i class="mdi mdi-account"></i></span>
                            <span>My Profile</span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon"><i class="mdi mdi-email"></i></span>
                            <span>Messages</span>
                        </a>
                        <hr class="navbar-divider"/>
                        <a class="navbar-item" href="{% url 'home' %}">
                            <span class="icon"><i class="mdi mdi-logout"></i></span>
                            <span>Log Out</span>
                        </a>
                    </div>
                </div>
                <a
                        title="Log out"
                        class="navbar-item is-desktop-icon-only"
                        href="{% url 'home' %}"
                >
                    <span class="icon"><i class="mdi mdi-logout"></i></span>
                    <span>Log out</span>
                </a>
            </div>
        </div>
    </nav>
    <aside class="aside is-placed-left is-expanded">
        <div class="aside-tools">
            <div class="aside-tools-label">
                <span><b>SMMS</b> Management System</span>
            </div>
        </div>
        <div class="menu is-menu-main">
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li>
                    <a href="{% url 'home' %}" class="has-icon">
                        <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                        <span class="menu-item-label">Maintenance Request</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'record' %}" class="has-icon">
                <span class="icon"
                ><i class="mdi mdi-square-edit-outline"></i
                ></span>
                        <span class="menu-item-label">Record Equipment</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'history' %}" class="is-active has-icon">
                        <span class="icon"><i class="mdi mdi-table"></i></span>
                        <span class="menu-item-label">History</span>
                    </a>
                </li>
            </ul>
            <ul class="menu-list"></ul>
        </div>
    </aside>
    <section class="section is-title-bar">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul>
                        <li>Admin</li>
                        <li>History</li>
                    </ul>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item"></div>
            </div>
        </div>
    </section>

    {% block content %}
    {% endblock %}

</div>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="{% static 'main.min.js' %}"></script>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link
        rel="stylesheet"
        href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css"
/>
</body>
</html>